Body {
    font-size:25px;
}
table, th, td { 
    border: 2px solid rgb(236, 13, 13)
}
th { 
    width : 25%
}
table{ 
    width : 48%;  
}

div {
    clear:both;
}
tr { 
    text-align: center; 
}
h2 {
    font-size:20px;
}
input[type=submit], input[type=button] {
    background-color: #4CAF50;
  border: none;
  color:red ;
  padding: 8px 20px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.6;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgb(248, 0, 0), 0 6px 20px 0 rgb(253, 6, 6);
}
input[type=submit]:hover {
    opacity: 1;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
input[type=submit]:hover {
    opacity: 1
}